<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Alabama Incident management system">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AIMS</title>

    <!-- google fonts -->
    <!-- Roboto, Roboto Condensed
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Roboto+Condensed:400italic,700italic,400,700' rel='stylesheet' type='text/css'> -->
    <!-- Raleway -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,200' rel='stylesheet' type='text/css'>
    <!-- Sintony -->
    <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>

    <!-- favicons -->
    <link rel="shortcut icon" href="~/Content/images/aims-favicon.png">
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

        @*TODO: Take care of this for map loading.*@
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/markerclusterer.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src='@Scripts.Url("~/bundles/modernizr")' async> </script>
    <![endif]-->

</head>
<body class="skin-aims login-page">
    <!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->

    <!-- BEGIN Main Content -->
    <div class="container login-wrapper">
        @RenderBody()
    </div>

    <!-- BEGIN User Agreement Modal -->
    @Html.Partial("_UserAgreement")
    <!-- END User Agreement Modal -->
 <!-- END Container -->
        <script src='@Scripts.Url("~/bundles/jquery")'> </script>
        <script src='@Scripts.Url("~/bundles/main")' async> </script>
        @RenderSection("scripts", required: false)
</body>
</html>
