@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br/>

<h3>@ViewBag.Email</h3>
<h3>@ViewBag.UserName</h3>
<h3>@ViewBag.GivenNames</h3>

<br/>
<p>Use this area to provide additional information.</p>
